* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {  
    min-height: 100vh;
  }
  
  .Channel-container {
    width: 100%;
    height: 100vh;
  }
  
  
  
  
  @media(max-width: 800px) {
    .hideOnMobile {
        display: none;
    }
  
    .menu-button {
        display: block;
    }
  
    .title {
        font-size: 30px;
    }
  }
  
  @media(max-width: 400px){
    .sidebar {
        width: 100%;
    }
  }
  