* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; 
}

h2 {
  color: aqua;
  font-size: 6rem;
  text-align: center;
}