* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {  
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
}

h1 {
  position: absolute;
  width: 500px;
  height: auto;
  z-index: 10;
}

.block {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgb(241 192 28);
  box-shadow: 10px 10px 50px rgb(75, 74, 74);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.logout-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #535151;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 10;
}

.logout-button:hover {
  background-color: aqua;
}

.kitologo-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: auto;
  z-index: 10;
}

.imageOni {
  position: absolute;
  bottom: 20px; /* 下から20pxの位置 */
  right: 20px; /* 右から20pxの位置 */
  width: 300px; /* 必要に応じて画像サイズを指定 */
  height: auto; /* アスペクト比を保つ */
}

.navigation {
  float: left;
  height: 100vh;
  width: 70px;
  position: relative;
  background-color: #254c30;
  box-shadow: 10px 0 0 rgb(241 192 28);
  border-left: 10px solid #254c30;
  overflow-x: hidden;
  transition: all 0.5s;
  z-index: 20;
}

.navigation:hover {
  width: 300px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
  padding-left: 10px;
}

.navigation ul li {
  list-style: none;
  display: block;
  width: 100%;
  position: relative;
  border-radius: 15px;
}

.navigation ul li.active::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: -30px;
  right: 0;
  border-radius: 50%;
  box-shadow: 15px 15px 0 rgb(241 192 28);
}

.navigation ul li.active::after {
  content: "";
  position: absolute;
  /* background-color: red; */
  width: 30px;
  height: 30px;
  top: 60px;
  right: 0;
  border-radius: 50%;
  box-shadow: 15px -15px 0 rgb(241 192 28);
}


.navigation ul li.active {
  background-color: rgb(241 192 28);
}

.navigation ul li a {
  text-decoration: none;
  color: white;
  width: 100%;
  display: flex;
  position: relative;
}

.navigation ul li a .icon {
  display: block;
  min-width: 45px;
  height: 60px;
  line-height: 70px;
  text-align: center;
}

.navigation ul li a .title {
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
}

/* スマホ対応 */
@media (max-width: 768px) {
  .navigation {
    width: 50px;
    z-index: 10;
    border-left: 5px solid rgb(40, 42, 42);
  }

  .navigation ul {
    padding-left: 0px;
  }

  .block {
    width: 80px;
    height: 80px;
  }

  .logout-button {
    padding: 8px 16px;
    font-size: 0.9rem;
    bottom: 15px;
  }

  .kitologo-image {
    top: 10px;
    width: 200px;
  }
}

@media (max-width: 480px) {
  .navigation {
    width: 40px;
    /* border-left: 5px solid rgb(40, 42, 42); */
    z-index: 10;
  }

  .navigation ul {
    padding-left: 0px;
  }

  .block {
    width: 60px;
    height: 60px;
  }

  .logout-button {
    padding: 6px 12px;
    font-size: 0.8rem;
    bottom: 10px;
  }

  .kitologo-image {
    top: 100px;
    width: 150px;
    z-index: 9;
  }
}
