/* 背景画像設定 */
.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./1.png'); /* 画像ファイルのパス */
  background-size: 50%; /* 画像を画面全体に拡大 */
  background-position: center; /* 画像を中央に配置 */
}

/* オーバーレイの中央配置 */
.overlay {
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5); /* 半透明の背景色 */
  padding: 20px;
  border-radius: 8px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
